name: cyoda-client

registry:
  host: "REGISTRY_HOST_VAR"
  username: "REGISTRY_USERNAME_VAR"
  password: "REGISTRY_PASSWORD_VAR"
imagePullSecret:
  enabled: true

useNamespaceForIngress: false

enabled: true
imagePullSecrets: []
container:
  env:
    vars:
      TZ: /usr/share/zoneinfo/Europe/Berlin
      CYODA_AI_API: cyoda
      WORKFLOW_AI_API: workflow
      CONNECTION_AI_API: connection
      RANDOM_AI_API: random
      TRINO_AI_API: trino
      ENTITY_VERSION: 10004

podAnnotations: {}
health:
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 120
    timeoutSeconds: 5
    periodSeconds: 30
    failureThreshold: 10
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 120
    timeoutSeconds: 5
    periodSeconds: 30
    failureThreshold: 10
service:
  name: cyoda-client-service
  type: NodePort
  serverPort:
    port: 5000
    target: 5000
    name: http

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  path: /
  pathType: Prefix
  tls: []

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

extraVolumeMounts: {}
extraVolumes: {}
securityContext: {}
tolerations: { }
priorityClassName: { }
serviceAccountName: { }
hostAliases: { }
affinity: { }
strategy: {}

image:
  pullPolicy: Always
  imageName: client-app